@use 'src/styles/variables';
@use 'src/styles/mixins';
@use 'src/styles/field';
@use 'src/styles/header';
@use 'src/styles/fade-in-out';
@use 'src/styles/textarea';
@use 'src/styles/basic-styles';
@use 'src/styles/main';
@use 'src/styles/overrides';

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

@import "bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;

  @include mixins.media-screen('max', variables.$min-table-width) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    padding: 0 2rem;
    flex: 1;
  }
}