.field-container {
  display: flex;
  flex-direction: column;
}

header {
  background: deepskyblue;
  height: 3rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header span {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.fade-container {
  transition: opacity 0.5s ease;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
body main {
  padding: 0 2rem;
  flex: 1;
}
