.field-container {
  display: flex;
  flex-direction: column;
}

header {
  background: deepskyblue;
  height: 3rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header span {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  header span {
    font-size: 1rem;
  }
}

.fade-container {
  transition: opacity 0.5s ease;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

textarea {
  resize: none;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.w-100 {
  width: 100%;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body main {
  padding: 0 2rem;
  flex: 1;
}
