@use '../../styles/mixins';
@use '../../styles/variables';

main.translate-page {
  margin: 0 auto 3rem;
  align-items: center;
  display: flex;
  width: 100%;

  section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;

    & > div {
      flex: 1;
    }

    @include mixins.media-screen('max', variables.$min-table-width) {
      gap: 0.5rem;
      flex-direction: column;
    }
  }
}