main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  max-width: 40rem;
  width: 100%;
  margin: 0 auto 3rem;
}
main section {
  gap: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main section > div {
  flex: 1;
}
