main.translate-page {
  margin: 0 auto 3rem;
  align-items: center;
  display: flex;
  width: 100%;

  section {
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;

    & > div {
      flex: 1;
    }
  }
}