header {
  background: deepskyblue;
  height: 3rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header span {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  header span {
    font-size: 1rem;
  }
}
