@use 'mixins';
@use 'variables';

header {
  background: var(--bs-info);
  min-height: 3rem;
  height: fit-content;
  padding: 0.25rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a, span {
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }

  @include mixins.media-screen('max', variables.$min-table-width) {
    flex-direction: column;
    align-items: start;
    justify-content: center;

    span {
      font-size: 1rem;
    }
  }
}