@use 'mixins';
@use 'variables';

header {
  background: deepskyblue;
  height: 3rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
  }

  @include mixins.media-screen('max', variables.$min-table-width) {
    flex-direction: column;
    align-items: start;
    justify-content: center;

    span {
      font-size: 1rem;
    }
  }
}